<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Lab4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>tdtu.edu.loginServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Images</servlet-name>
  	<servlet-class>tdtu.edu.imagesServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Image1Servlet</servlet-name>
  	<servlet-class>tdtu.edu.image1Servlet</servlet-class>
  </servlet>
  
  <servlet>
	  	<servlet-name>Image2Servlet</servlet-name>
	  	<servlet-class>tdtu.edu.image2Servlet</servlet-class>
  </servlet>
  
  <servlet>
	  	<servlet-name>downloadServlet</servlet-name>
	  	<servlet-class>tdtu.edu.downloadServlet</servlet-class>
  </servlet>
  
</web-app>